<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
      $(document).ready(function(){
        $("button").click(function(){
          $.get("/controller/" + $(this).attr('id'), function(data, status){ });
        });
      });
      </script>
    <meta charset="UTF-8">
    <title>Controll Test</title>
</head>
<body>
  <iframe id="chart" src="test.ejs"></iframe>
    <div class="container">
        <h2>Controll Test</h2>
        <button type="button" class="btn btn-success" id='O'>ON</button>
        <button type="button" class="btn btn-default" id='X'>OFF</button>
        <button type="button" class="btn btn-default" id='L'>LCD</button>

        <button type="button" class="btn btn-default" id='A'>1</button>
        <button type="button" class="btn btn-default" id='B'>2</button>
        <button type="button" class="btn btn-default" id='C'>3</button>
        <button type="button" class="btn btn-default" id='D'>4</button>
    </div>
</body>
</html>