body{
    background-color: #282B28;
    color:white;
    border: none;
    text-align: center;
}

#O{
    background-color: #2191FB;
    border: none;
    text-align: center;
}
#O:hover{
    background-color: #0f3457;
}

#X{
    background-color: #BA274A;
    border: none;
    text-align: center;
}
#X:hover{
    background-color: #6e182c;
}

button{
    border: none;
    width: 20%;
    height: 20px;
    color: white;
    background-color: #3E5641;
    position: relative;
    border-radius: 40px 40px 40px 40px;
}
button:hover{
    background-color: #83BCA9;
    transition: .3s;
}

#chart{
    margin-top: 100px;
    border: none;
    width: 80vw;
    height: 35vw;
    background-color: #83BCA9;
    border-radius: 40px 40px 40px 40px;
} 

.container{
    position: relative;
    top: 20px;
}

#header{
    position: fixed;
    background-color: #3E5641;
    top: 0;
    left: 0;
    right: 0;
}
a{
    text-decoration: none;
    color: #83BCA9;
}

.main_container{}