body{
    background-color: #282B28;
    color:white;
    border: none;
    text-align: center;
}

#O{
    background-color: #2191FB;
    border: none;
    text-align: center;
}
#O:hover{
    background-color: #0f3457;
}

#X{
    background-color: #BA274A;
    border: none;
    text-align: center;
}
#X:hover{
    background-color: #6e182c;
}

button{
    border: none;
    width: 20%;
    height: 20px;
    color: white;
    background-color: #3E5641;
    position: relative;
    border-radius: 40px 40px 40px 40px;
}
button:hover{
    background-color: #83BCA9;
    transition: .3s;
}

#chart{
    margin-top: 50px;
    border: none;
    width: 90%;
    height: 37vw;
    background-color: #83BCA9;
    border-radius: 40px 40px 40px 40px;
} 

.container{
    position: relative;
    top: 20px;
}

/* #header{
    position: fixed;
    background-color: #3E5641;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
}
a{
    text-decoration: none;
    color: #83BCA9;
}

#nav{
    text-align: start;
}
#nav_btn_on{
    background-color: #282B28;
    bottom: 50px;
}
#nav_btn_off{
    background-color: #282B28;
    bottom: 50px;
}
ul{
    position: fixed;
    background-color: #5a5f5a;
    width: 100px;
    height: 300px;
    border-radius: 20px 20px 20px 20px;
    top: 50px;
}  */

.main_container{}


h1 a{
    z-index: 100;
    text-align: center;
    margin: auto 0;
    position: fixed;
    top: 0;
    right: 0;
    padding-right: 3%;
    text-decoration: none;
    color: white;
}
h1 a:hover{
    color: #9dcfbe;
    transition: 1s;
}

ul#menu{
    z-index: 10;
    position:fixed;
    top:0;
    left: 0;
    width:100%;
    height:3em;
    margin:0;
    padding:0 10px;
    background:#3E5641;
    color: white;
    box-shadow:0 -1px rgba(0,0,0,.5) inset;
}

ul#menu > li{
    float:left;
    list-style-type:none;
    position:relative;
}

label{
    position:relative;
    display:block;
    padding:0 18px 0 12px;
    line-height:3em;
    transition:background 0.3s;
    cursor:pointer;
    border-radius: 20px 20px 20px 20px;
}

label:after{
    color: white;
    content:"";
    position:absolute;
    display:block;
    top:50%;
    right:5px;
    width:0;
    height:0;
    border-top:4px solid rgba(255,255,255,.5);
    border-bottom:0 solid rgba(255,255,255,.5);
    border-left:4px solid transparent;
    border-right:4px solid transparent;
    transition:border-bottom .1s, border-top .1s .1s;
}
  
label:hover,
input:checked ~ label{
    background:rgba(0,0,0,.3);
    border-radius: 20px 20px 20px 20px;
}
  
input:checked ~ label:after{
    color: white;
    border-top:0 solid rgba(255,255,255,.5);
    border-bottom:4px solid rgba(255,255,255,.5);
    transition:border-top .1s, border-bottom .1s .1s;
}

/*hide the inputs*/
input{display:none}

/*show the second levele menu of the selected voice*/
input:checked ~ ul.submenu{
    max-height:500px; /* 서브메뉴 최대 height 결정*/
    transition:max-height 0.5s ease-in;
}

/*style for the second level menu*/
ul.submenu{
    color: white;
    z-index: 11;
    height: 400px; /* 서브메뉴 height 결정*/
    width: 60vw; /* 서브메뉴 width 결정*/
    max-height:0;
    padding:0;
    overflow:hidden;
    list-style-type:none;
    background:#3E5641;
    box-shadow:0 0 1px rgba(0,0,0,.3);
    transition:max-height 0.5s ease-out;
    position:absolute;
    min-width:100%;
    border-radius: 20px 20px 20px 20px;
}

ul.submenu li a{
    display:block;
    padding:12px;
    color: white;
    text-decoration:none;
    box-shadow:0 -1px rgba(0,0,0,.5) inset;
    transition:background .3s;
    white-space:nowrap;
}
ul.submenu li a:hover{
    background-color: #83BCA9;
}

  